<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title center">
            <h3>Cadastrar questão</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <form id="register-form" (ngSubmit)="onSubmit();" [formGroup]='formCadastro'>
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div>
                  <div class="alert alert-success" role="alert" *ngIf="msg">
                    Questão cadastrada.
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="question">Questão</label>
                  <textarea style="height: 100px;" id="question" name="question" type="text" class="form-control" placeholder="Escreva o enunciado da questão aqui"
                    formControlName="question"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('question').touched) && formCadastro.get('question').errors}"></textarea>
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('question').touched) && formCadastro.get('question').errors">
                    Questão deve ser preenchida
                  </span>
                </div>
                <div class="form-group">
                  <label for="subjectId">Matéria</label>
                <select class="form-control" [(ngModel)]="selectedSubjectId" formControlName="subjectId" (ngModelChange)="selectedSubject($event)">
                  <option [ngValue]="subject.id" *ngFor="let subject of subjectList">{{subject.name}}</option>
                </select>
              </div>
                <div class="form-group">
                  <label for="topic">Tópico</label>
                  <input id="topic" name="topic" type="text" class="form-control"
                    formControlName="topic"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('topic').touched) && formCadastro.get('topic').errors}">
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('topic').touched) && formCadastro.get('topic').errors?.required">
                    Tópico deve ser preenchido
                  </span>
                </div>
                <div class="form-group">
                  <label for="dificulty">Dificuldade</label>
                  <select id="dificulty" name="dificulty" class="form-control" [(ngModel)]="selectedQuestionDificulty" formControlName="dificulty" (ngModelChange)="selectedDificulty($event)"
                  [ngClass]="{'is-invalid': (submitted || formCadastro.get('dificulty').touched) && formCadastro.get('dificulty').errors}">
                    <option [ngValue]="dificulty" *ngFor="let dificulty of dificultyList">{{dificulty}}</option>
                  </select>
                  <!-- <input id="dificulty" name="dificulty" type="text" class="form-control"
                    formControlName="dificulty"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('dificulty').touched) && formCadastro.get('dificulty').errors}"> -->
                    <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('dificulty').touched) && formCadastro.get('dificulty').errors">
                    Dificuldade deve ser preenchida
                  </span>
                </div>
                <div class="form-group">
                  <label for="alternative1">Alternativa 1</label>
                  <input id="alternative1" name="alternative1" type="alternative1"
                  class="form-control"
                  formControlName="alternative1"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('alternative1').touched) && formCadastro.get('alternative1').errors}">
                    <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('alternative1').touched) && formCadastro.get('alternative1').errors">
                    Alternativa 1 deve ser preenchida
                  </span>
                </div>
                <div class="form-group">
                  <label for="alternative2">Alternativa 2</label>
                  <input id="alternative2" name="alternative2" type="alternative2"
                  class="form-control"
                  formControlName="alternative2"
                  [ngClass]="{'is-invalid': (submitted || formCadastro.get('alternative2').touched) && formCadastro.get('alternative2').errors}">
                  <span class="invalid-feedback"
                  *ngIf="(submitted || formCadastro.get('alternative2').touched) && formCadastro.get('alternative2').errors">
                  Alternativa 2 deve ser preenchida
                </span>
              </div>
              <div class="form-group">
                <label for="alternative3">Alternativa 3</label>
                <input id="alternative3" name="alternative3" type="alternative3"
                class="form-control"
                formControlName="alternative3"
                [ngClass]="{'is-invalid': (submitted || formCadastro.get('alternative3').touched) && formCadastro.get('alternative3').errors}">
                <span class="invalid-feedback"
                *ngIf="(submitted || formCadastro.get('alternative3').touched) && formCadastro.get('alternative3').errors">
                Alternativa 3 deve ser preenchida
              </span>
            </div>
            <div class="form-group">
              <label for="alternative4">Alternativa 4</label>
              <input id="alternative4" name="alternative4" type="alternative4"
              class="form-control" 
              formControlName="alternative4"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('alternative4').touched) && formCadastro.get('alternative4').errors}">
                    <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('alternative4').touched) && formCadastro.get('alternative4').errors">
                    Alternativa 4 deve ser preenchida
                  </span>
                </div>
                <div class="form-group">
                  <label for="alternative5">Alternativa 5</label>
                  <input id="alternative5" name="alternative5" type="alternative5"
                  class="form-control"
                  formControlName="alternative5"
                  [ngClass]="{'is-invalid': (submitted || formCadastro.get('alternative5').touched) && formCadastro.get('alternative5').errors}">
                  <span class="invalid-feedback"
                  *ngIf="(submitted || formCadastro.get('alternative5').touched) && formCadastro.get('alternative5').errors">
                  Email deve ser preenchido
                </span>
              </div>
              <div class="form-group">
                <label for="dificulty">Alternativa correta</label>
                <select id="correctAlternative" name="correctAlternative" class="form-control" [(ngModel)]="selectedcorrectAlternative" formControlName="correctAlternative" (ngModelChange)="selectedCorrectAlternative($event)"
                [ngClass]="{'is-invalid': (submitted || formCadastro.get('correctAlternative').touched) && formCadastro.get('correctAlternative').errors}">
                  <option [ngValue]="correctAlternative" *ngFor="let correctAlternative of alternativeList">{{correctAlternative}}</option>
                  </select>
                <!-- <input id="dificulty" name="dificulty" type="text" class="form-control"
                  formControlName="dificulty"
                  [ngClass]="{'is-invalid': (submitted || formCadastro.get('dificulty').touched) && formCadastro.get('dificulty').errors}"> -->
                <span class="invalid-feedback"
                  *ngIf="(submitted || formCadastro.get('correctAlternative').touched) && formCadastro.get('correctAlternative').errors">
                  Alternativa correta deve ser preenchida
                </span>
              </div>
              <label> Cadastrar Imagem </label>
              <div class="form-group box-upload">
                  <div class="image-upload">
                      <img [src]="formCadastro.value.imgUrl" style="max-width:300px;max-height:300px; margin-top: 20px;"/>
                      <br>
                      <label for='selecao-arquivo' style='background-color: #30A216;
                      border-radius: 5px;
                      color: #fff;
                      cursor: pointer;
                      margin: 10px;
                      padding: 6px 20px'>Selecionar um arquivo &#187;</label>
                      <input id='selecao-arquivo' name="imgUrl" type="file" style='display:none' accept="image/*" (change)="handleInputChange($event)" />
                    </div> 
              </div>
              
              <div class="center">
                <button style="margin-top:20px;" type="submit" class="btn btn-main">ENVIAR CADASTRO</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>