title {
    font-size: 20px;
}

ul li{
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
    font-size: 20px;
}

div.container{
    min-height: 700px;
}