<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title center">
            <h3>Cadastrar usuário</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <form id="register-form" (ngSubmit)="onSubmit();" [formGroup]='formCadastro'>
            <div class="col-md-12 col-sm-12">
              <div class="block">
                <div>
                  <div class="alert alert-success" role="alert" *ngIf="msg">
                    Usuário cadastrado.
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Nome completo</label>
                  <input id="name" name="name" type="text" class="form-control" placeholder="Nome completo"
                    formControlName="name"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('name').touched) && formCadastro.get('name').errors}">
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('name').touched) && formCadastro.get('name').errors">
                    Nome deve ser preenchido
                  </span>
                </div>
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input id="cpf" name="cpf" type="text" mask='000.000.000-00' class="form-control"
                    placeholder="999.999.999-99" formControlName="cpf"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('cpf').touched) && formCadastro.get('cpf').errors}">
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('cpf').touched) && formCadastro.get('cpf').errors?.required">
                    CPF deve ser preenchido
                  </span>
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('cpf').touched) && (formCadastro.get('cpf').hasError('digit') || formCadastro.get('cpf').hasError('equalDigits'))">CPF
                    inválido</span>
                  <span class="invalid-feedback" *ngIf="formCadastro.get('cpf').status === 'PENDING'">
                    Consultando CPF...
                  </span>
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('cpf').touched) && formCadastro.get('cpf').hasError('cpfUnique')">CPF
                    já cadastrado</span>
                </div>
                <div class="form-group">
                  <label for="phone">Telefone</label>
                  <input id="phone" name="phone" type="text" mask='(00) 00000-0000' class="form-control"
                    placeholder="(99) 99999-9999" formControlName="phone"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('phone').touched) && formCadastro.get('phone').errors}">
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('phone').touched) && formCadastro.get('phone').errors">
                    Telefone deve ser preenchido
                  </span>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" name="email" type="email"
                    class="form-control" placeholder="exemplo@exemplo.com"
                    formControlName="email"
                    [ngClass]="{'is-invalid': (submitted || formCadastro.get('email').touched) && formCadastro.get('email').errors}">
                  <span class="invalid-feedback"
                    *ngIf="(submitted || formCadastro.get('email').touched) && formCadastro.get('email').errors">
                    Email deve ser preenchido
                  </span>
                </div>
                <div class="center">
                  <button style="margin-top:20px;" type="submit" class="btn btn-main">ENVIAR CADASTRO</button>
                </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>