
<!-- Totalizador de ofertas -->
<!-- <section class="section create-user">
  <div class="col-md-6" style="float: right">
    <a routerLink="/create-user" target="_blank" class="btn btn-main animated">Cadastrar Usuário</a>
  </div>
</section> -->

<section class="section total-frete">
  <div class="total-frete-label center">
    <div class="section-title">
      <label><strong>{{questions?.length || '0'}} questões cadastradas</strong></label>
      <a target="_self" href="/create-question" class="user-create">Cadastrar Questão</a>
    </div>
  </div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div style='box-shadow: 0px 5px 5px rgba(0,0,0,0.1); margin: 10px; padding: 5px; border-radius: 5px; border: solid #f1eded; border-width: 0.5px;'class="col-md-6 col-sm-12 col-lg-3" *ngFor="let question of questions">
        <table (click)="open((question))" class="label-frete">
          <tr>
            <td width="110px">
              <img width="100px" src="assets/images/pergunte-me.jpeg">
            </td>
            <td>
              <table>
                <tr>
                <td>
                    <span style="display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">Questão: <b>{{question.question}}</b></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Tópico: <b>{{question.topic}}</b></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Dificuldade: <b>{{question.difficulty}}</b></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <hr>
      </div>
    </div>
  </div>
</section>