<!-- Slider Start -->
<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">Inovação e tecnologia para simplificação das provas</h1>
          <!-- <p class="animated fadeInUp">Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Praesent vel viverra nisi.</p> -->
          <!-- <a routerLink="/register" target="_blank" class="btn btn-main animated fadeInUp">QUERO ME CADASTRAR</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<!-- <section class="about section center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block center">
          <div class="section-title">
            <h1>Seja Bem-Vindo</h1>
          </div>
        </div>
        <p class="title">A G2L é uma transportadora digital. Nós trabalhamos para simplificar o atendimento logístico através da tecnologia.</p>
      </div>
    </div>
  </div>
</section>
Service Start
<section class="service center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block center">
          <div class="section-title">
            <h2>Nossos Serviços</h2>
          </div>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <span><img class="circle-image" src="../../assets/images/sucata.jpg"></span>
          <h4>Sucata</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <span><img class="circle-image" src="../../assets/images/bobina.jpg"></span>
          <h4>Bobina</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
    Call to action Start
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block center">
            <h3>É motorista?</h3>
            <a class="btn btn-main" routerLink="/register">QUERO ME CADASTRAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->