.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #21750B;
}

@media (max-width: 480px){

      .circle-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #21750B;
    }
}

p.title {
    font-size: 20px;
    color: #7B7B7B;
}

